@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700&display=swap');


body {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    background-color: white;
    color: black;
    margin: 0;
    display: flex;
}

header {
    position: fixed;
    background-color: white;
    border-left: 1cm solid white;
    padding: 10px;
    z-index: 2;
}

#header-left {
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: -1em;
}
.subtitle {
    font-size: 0.7em;
    text-transform: lowercase;
}

nav {
    position: fixed;
    left: 3em;
    top: 90px;
    background-color: #ffffff;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
}

ul {
    list-style-type: none;
    margin-left: -2.5em;
}

li {
    font-size: 0.9em;
    margin-bottom: 7px;
}

a {
    text-decoration: none;
    color: black;
}

#project-content {
    position: absolute;
    top: 6em;
    left: 30em;
    display: flex; /* Activer le mode flex pour le conteneur */
    flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne si nécessaire */
    flex-direction: row; /* Afficher les éléments en ligne horizontale */
    justify-content: flex-start; /* Répartir l'espace disponible de manière égale entre les éléments */
    z-index: 2;
}

#project-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: calc(8 * (5em + 20px)); /* Maximum de cinq vignettes affichées horizontalement */

}


.project-thumbnail {
    display: block;
    flex: 0 0 auto; /* Permettre aux vignettes de conserver leur taille d'origine */
    height: 7.5em;
    width: 7.5em; /* Définir une largeur fixe pour chaque vignette */
    margin: 10px; /* Ajouter une marge autour de chaque vignette */
    background-color: #ffffff;
}

.project-thumbnail .thumbnail-image {
    max-width: 100%; /* La largeur maximale de l'image est égale à la largeur de la vignette */
    max-height: 100%; /* La hauteur maximale de l'image est égale à la hauteur de la vignette */
    display: block; /* Afficher l'image en tant que bloc pour appliquer les marges automatiques */
    margin: auto; /* Centrer l'image horizontalement */
}

.thumbnail-title {
    display: none;
    text-align: center; /* Centrer le texte */
    position: relative; /* Position absolue pour permettre le centrage */
    top: -30%; /* Positionner le titre au milieu de la vignette */
    left: 50%; /* Positionner le titre au milieu de la vignette */
    background-color: rgba(255, 255, 255, 0.7); /* Ajouter un fond semi-transparent pour le titre */
    padding: 10px; /* Ajouter un espace autour du titre */
    transform: translate(-50%, -50%); /* Centrer le titre */
}

/* Afficher les titres des vignettes uniquement lorsqu'ils sont survolés */
.project-thumbnail:hover .thumbnail-title {
    display: block;
}

.project-thumbnail h2 {
    font-size: 12px;
    margin-bottom: 5px;
}

footer {
    background-color: white;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding-bottom: 20px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    height: 30px;
    flex-direction: column;
}

.footer__item {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-size: 0.9em;
    margin-left: 3.4em;
    color: #333;
}

.contact-details {
    position: absolute;
    top: -0,8em;
    left: 10em;
    border: none;
    background-color: transparent;
}

.contact-details p {
    font-size: 0.9em;
}

@media only screen and (max-width: 600px){ 
    #header-left {
        font-size: 3em;
    }

    .subtitle {
        font-size: 2em;
    }

    nav {
        width: 100%;
        left: 3em;
        top: 10em;
        height: 100vh;
        overflow-y: auto;
    }

    li {
        font-size: 2em;
        margin-bottom: 5px;
    }

    #project-content {
        position: relative;
        top: 15em;
        left: 3em;
        margin-right: 5em;
        margin: 0 auto;
        width: 6em;
        height: 6em;
    }

    .project-thumbnail {
        width: 8em;
        height: 8em;
        margin-left: 5em;
    }

    footer {
        padding-bottom: 10px;
    }

    .footer__item {
        font-size: 2em;
        margin-left: 1.5em;
    }

    .contact-details {
        font-size: 2em;
        top: 1.8em;
        left: 5em;
        width: 90%;
        margin: 0 auto;
    }
}
