@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700&display=swap');


body {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    background-color: white;
    color: black;
    margin: 0;
    display: flex;
}

header {
    position: fixed;
    background-color: white;
    border-left: 1cm solid white;
    padding: 10px;
    z-index: 100;
}

#header-left {
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: -1em;
}
.subtitle {
    font-size: 0.7em;
    text-transform: lowercase;
}

nav {
    position: fixed;
    left: 3em;
    top: 90px;
    background-color: #ffffff;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
}

ul {
    list-style-type: none;
    margin-left: -2.5em;
}

li {
    font-size: 0.9em;
    margin-bottom: 7px;
}

a {
    text-decoration: none;
    color: black;
}

#project-content {
    position: absolute;
    top: 6.5em;
    left: 25em;
    display: flex; /* Activer le mode flex pour le conteneur */
    flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne si nécessaire */
    flex-direction: row; /* Afficher les éléments en ligne horizontale */
    justify-content: flex-start; /* Répartir l'espace disponible de manière égale entre les éléments */
    z-index: 2;
}

#project-thumbnails {
    overflow-x: auto;
    white-space: nowrap; /* Empêche le retour à la ligne des vignettes */
}


.project-thumbnail {
    position: relative; /* Ajouter position relative pour que les titres soient positionnés par rapport à cette vignette */
    display: inline-block;
    flex: 0 0 auto;
    min-height: 7.5em;
    width: 7.5em;
    margin: 10px;
    background-color: #ffffff;
}

.project-thumbnail .thumbnail-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#full-image-container {
    max-width: 70em;
    max-height: 50em;
    position: relative;
    margin-top: 5em; /* Ajoute de l'espace en haut */
    margin-left: 0.6em; /* Décalage vers la gauche pour aligner avec les vignettes */
    margin-bottom: 2em;
    text-align: left; /* Centrer le contenu horizontalement */
}

#full-image-container img {
    max-width: 100%; /* Ajuste la largeur maximale de l'image pour qu'elle ne dépasse pas de son conteneur */
    max-height: 100%; /* Permet à l'image de conserver son rapport hauteur/largeur */
    object-fit: contain;
}

#full-image-container h2 {
    font-size: 12px; /* Réduire la taille de la police */
    position: absolute; /* Position absolue par rapport au conteneur parent */
    top: -3em; /* Déplacer le titre vers le haut */
    color: black; /* Couleur du texte */
}

footer {
    background-color: white;
    height: 60px;
    text-align: left;
    position: fixed; /* Modifier la position en 'fixed' */
    bottom: 0;
    z-index: 100;
    padding: 0 1.5em; /* Espacement horizontal seulement */
    display: flex; /* Assurez-vous qu'il utilise Flexbox */
    align-items: center; /* Centrer verticalement */
}


.footer__container {
    display: flex;
    flex-direction: row; /* Si les éléments doivent être alignés horizontalement */
    justify-content: space-between;
    align-items: center; /* Alignement vertical des éléments */
    height: auto; /* Adapte la hauteur automatiquement */
}


.footer__item {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-size: 0.9em;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    color: #333;
}

.contact-details {
    position: absolute;
    top: -0.8em;
    left: 10em;
    border: none;
    background-color: transparent;
}

.contact-details p {
    font-size: 0.9em;
}

@media only screen and (max-width: 600px){ 
    #header-left {
        font-size: 3em;
    }

    .subtitle {
        font-size: 2em;
    }

    nav {
        width: 100%;
        left: 3em;
        top: 10em;
        height: 100vh;
        overflow-y: auto;
    }

    li {
        font-size: 2em;
        margin-bottom: 5px;
    }

    #project-content {
        position: relative;
        top: 15em;
        left: 3em;
        margin-right: 5em;
        margin: 0 auto;
        width: 6em;
        height: 6em;
    }

    .project-thumbnail {
        width: 8em;
        height: 8em;
        margin-left: 5em;
    }

    footer {
        padding-bottom: 10px;
    }

    .footer__item {
        font-size: 2em;
        margin-left: 1.5em;
    }

    .contact-details {
        font-size: 2em;
        top: 1.8em;
        left: 5em;
        width: 90%;
        margin: 0 auto;
    }
}
